*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
}

#backgroundGradient{
    height:100%;
    width:100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    overflow:hidden;
    animation: change-color-anim 30s linear infinite;
}

#logo-top{
    width: 150px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

@keyframes change-color-anim {
	0%,100%{
		background-color: rgb(4, 2, 138);
	}
    25%{
        background-color:  rgb(30, 76, 141);
    }
	50%{
		background-color:  rgb(38, 145, 145); 
	}
    75%{
        background-color:  rgb(30, 76, 141);
	}
}

h1, h2{
    padding: 10px;
}

h2{
    width: 300px;
}

#home-text{
    color: #000;
}
#slogan-text{
    color: #bbb;
}

#question-label{
    color: #bbb;
    font-style: italic;
    font-size: medium;
}

.slider{
    -webkit-appearance: none;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 15px;
    border-radius: 7px;
    background: linear-gradient(to right, rgb(4, 2, 138), rgb(69, 219, 219));
    outline: none;

    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #ffffff;
    border: 1px solid #bbb;
    cursor: pointer;
  }

#quiz, #results, #home{
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    border: 1px solid #bbb;
}

#disagree-text{
    text-align: left;
    font-size: medium;
}
#agree-text{
    text-align: right;
    font-size: medium;
}

.position-label{
    color: #bbb;
    font-style: italic;
    line-height: 0; 
}

.btn{
    font-weight: 500;
    font-size: medium;

    background-color: #ffffff;
    color: #bbb;
    border: 1px solid #bbb;

    width: 70px;
    padding: 7px;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

#play-button{
    width: 150px;
    background: linear-gradient(to right, rgb(7, 5, 157), rgb(4, 71, 206), rgb(0, 105, 190), rgb(2, 169, 210));
    color: #fff;
    border: 0px;
    font-size: medium;
}

.btn:disabled{
    background-color: #ddd;
}

.results-text{
    color: #888;
    padding: 4px;
}